/Makefile
/bin
/config.h
/config.log
/config.status
/libtool
/stamp-h1
/missing
/libvbisam/Makefile
/tests/Makefile
/tests/atconfig
/tests/atlocal
/tests/detest00
/tests/detest01
/tests/jvntest
/tests/mvtest
.deps/
.libs/
*.lo
*.la
*.o
